.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: aqua;
  border-radius: 10px;
}
#employee-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  margin-bottom: 10px;
}
